@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~bootstrap/dist/css/bootstrap.css";
$color: #262828;

body {
  color: $color;
  background-color:#16181a;
}
.bg-dark {
  background-color:#16181a!important;
}
.navbar-brand {
  font-weight:500;
}
.map-help-overlay {
  position:absolute;
  top:0;
  left:0;
  z-index:10;
  width:100%;
  height: 50%;
  background-color:rgba(#000,0.5);
  color:#FFF;
  padding:30px;
  display:flex;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.89+20,0+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0.89) 0%, rgba(0,0,0,0.89) 20%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.89) 0%,rgba(0,0,0,0.89) 20%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.89) 0%,rgba(0,0,0,0.89) 20%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.map-help-icon {
  font-size:30px;
  line-height:30px;
}
.map-help-text {
  font-size:22px;
  line-height: 25px;
  margin-left:15px;
}
#root > div > .container-fluid {
  width: 100%;
  height: 100%;
  position: fixed;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}
.mapboxgl-map {
  height:100%;
}
.comma-watermark {
  position: absolute;
  bottom: 80px;
  right: 40px;
  z-index: 10;
  height: 60px;
  opacity: 0.2;
  width: 60px;
}
#root > div > .container-fluid > .row {
  margin-left:0;
  margin-right:0;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;

  > .col-sm-3 {
    padding-left:0;
    padding-right:0;
    overflow:auto;
    box-shadow:10px 10px 10px rgba(#171B1D,0.5);
    &:after {
      content:"";
      background-color:rgba(#171B1D,0.5);
      width:2px;
      height:100%;
      position:absolute;
      top:0;
      right:0;
      z-index:5;
    }
    .list-group-item {
      position:relative;
      outline:0 none;
      border:0;
      background-color:lighten(#16181a,5);
      color:#FFF;
      padding: 18px 0;
      cursor:pointer;
      &:hover {
        background-color:lighten(#16181a,2)
      }
      .trip-item-img {
        width: 46px;
        height: 46px;
        border-radius: 30px;
        background-color: #1D2225;
        display:block;
        position:absolute;
        left:15px;
        text-align:center;
        line-height:46px;
        top:50%;
        transform:translateY(-50%);
        font-size:12px;
        color:rgba(#FFF,0.3);
      }
      .trip-item-name {
        text-align:left;
        display:block;
        width:100%;
        color:rgba(#FFF,0.6);

        padding-left:75px;
      }
      &:after {
        content:"";
        background-color:rgba(#171B1D,0.4);
        height:1px;
        position:absolute;
        bottom:0;
        left:0;

        z-index:5;
        width:100%;
      }
      &.active {
        background-color: #175886;
        .trip-item-img {
          background-color: lighten(#175886,5);
          color:#FFF;
          font-weight:500;
        }
        .trip-item-name {
          font-weight:500;
          color:#FFF;
        }
      }
      .fa {
        position:absolute;
        right:15px;
        color:#CCC;
        top:50%;
        transform:translateY(-50%);
      }
    }
    
  }
  > .col-sm-9 {
    padding-left:0;
    padding-right:0;
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.spinner {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  /* margin:25px auto; */
}
.circle {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10001;
  top:0;
  left:0;
  display: block;
  margin: 0 auto;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  animation: spinner 0.8s infinite linear;
}
