@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~bootstrap/dist/css/bootstrap.css";
$color: #262828;

body {
  color: $color;
  background-color:#121212;
}
.bg-dark {
  background-color:#212121!important;
}
.navbar-brand {
  font-weight:500;
}
.map-help-overlay {
  position:absolute;
  top:0;
  left:0;
  z-index:10;
  width:100%;
  height:100%;
  background-color:rgba(#000,0.5);
  color:#FFF;
  padding:30px;
  display:flex;
}
.map-help-icon {
  font-size:30px;
  line-height:30px;
}
.map-help-text {
  font-size:22px;
  line-height: 25px;
  margin-left:15px;
}
#root > div > .container-fluid {
  width: 100%;
  height: 100%;
  position: fixed;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}
.mapboxgl-map {
  height:100%;
}
#root > div > .container-fluid > .row {
  margin-left:0;
  margin-right:0;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;

  > .col-sm-3 {
    padding-left:0;
    padding-right:0;
  }
  > .col-sm-9 {
    padding-left:0;
    padding-right:0;
  }
}