.map {
  position: 'absolute';
  top: 0;
  bottom: 0;
  width: '100%';
};
.help_overlay {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
}
.navbar_brand {
  font-weight:100;
}

.viewer_list_container {
  overflow:auto;
  height:100%;
  
}